<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="mb-5">
                <h1>Plugo Smart Chat Support</h1>
            </div>
            <div class="mt-5">
                <a [routerLink]="[ '/scs' ]" class="p-2 border rounded ">Let's start using Plugo SCS</a>
            </div>

        </div>
    </div>
</div> -->
<router-outlet></router-outlet>
<!-- <a href="https://play.google.com/store/apps/details?id=com.plugo">download</a> -->