<div id="center-text">
    <h2>ChatBox UI</h2>
    <p>Click on the chat icon below to start</p>
</div>
<div id="body">

    <div id="chat-circle" class="btn btn-raised" [ngStyle]="{'display': !scale ? 'block' : 'none' }"
        (click)="onOpenChatWindow()">
        <div id="chat-overlay"></div>
        <i class="material-icons">speaker_phone</i>
    </div>

    <div class="chat-box" [ngStyle]="{'display': scale ? 'block' : 'none' }">
        <div class="chat-box-header">
            ChatBot
            <span class="chat-box-close" (click)="toggleScale()"><i class="material-icons">close</i></span>
        </div>
        <div class="chat-box-body">
            <div class="chat-box-overlay">
            </div>
            <div class="chat-logs">
                <div [class]="'chat-msg '+ log.type" *ngFor="let log of chatLogs">
                    <span class="msg-avatar">
                        <img src="https://api.adorable.io/avatars/100/abott@adorable.png">
                    </span>
                    <div class="cm-msg-text">
                        {{log.msg}}
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-input">
            <form
                [title]="disabled ? 'Make sure Chat API is up and running': 'Type your message to get quotes'">
                <input type="text" id="chat-input" [placeholder]="disabled ? 'Make sure Chat API is up and running': 'Type your message to get quotes'" [(ngModel)]="query"
                    (keyup)="onChange($event)" name="query" [disabled]="disabled" />
                <button type="button" [disabled]="disabled" class="chat-submit" id="chat-submit"
                    (click)="onSendMEssage($event)"><i class="material-icons">send</i></button>
            </form>
        </div>
    </div>
</div>